<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/lucide@latest"></script>
    <link rel="stylesheet" href="dashboard.css" />
    <link rel="stylesheet" href="../../index.css" />
    <link rel="stylesheet" href="../../responsive.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="sidebar">
      <div class="dashboard-sidebar">
        <aside>
          <div class="top">
            <div class="logo">
              <i data-lucide="landmark" color="#4648D4"></i>
            </div>
            <h2 class="brandName">FinTrack <span>Personal Finance</span></h2>
          </div>

          <div class="middle">
            <div class="container">
              <div class="feature-icons">
                <a href="dashboard.html" class="active"
                  ><i data-lucide="layout-dashboard"></i>Dashboard</a
                >
              </div>
              <div class="feature-icons">
                <a href="transactions.html"
                  ><i data-lucide="receipt-text"></i> Transactions</a
                >
              </div>
              <div class="feature-icons">
                <a href="budgets.html"><i data-lucide="wallet"></i>Budgets</a>
              </div>
              <div class="feature-icons">
                <a href="goals.html"><i data-lucide="goal"></i>Goals</a>
              </div>
              <div class="feature-icons">
                <a href="reports.html">
                  <i data-lucide="chart-no-axes-column"></i>Reports
                </a>
              </div>
            </div>
          </div>

          <div class="bottom">
            <hr />
            <div class="feature-icons">
              <button><i data-lucide="settings"></i>Settings</button>
            </div>
            <div class="feature-icons">
              <button><i data-lucide="user-round"></i>Profile</button>
            </div>
            <div class="feature-icons">
              <button>
                <i data-lucide="log-out" color="#BA1A1A"></i>Logout
              </button>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </body>
</html>
